    @import '../vars/fonts';
    @import '../vars/variables';
    @import '../vars/flexCenter';
    @import '../vars/btn';
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #545454;
    }
    
    li {
        list-style: none;
    }
    
    a {
        text-decoration: none;
    }
    
    .btn {
        @include btn(tranparent);
    }
    
    // Navbar
    #nav__items {
        padding: 20px 80px;
        background-color: $white;
        @include flexCenter(row);
        justify-content: space-between;
        font-family: 'Source Sans Pro', sans-serif;
        .nav__logo a {
            @include flexCenter(row);
            img {
                width: 130px;
                height: 100%
            }
        }
        .nav__links {
            ul {
                @include flexCenter(row);
                li {
                    padding: 10px;
                    a {
                        padding: 5px 10px;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        color: $dark;
                        @include transition(ease);
                        &:hover {
                            background-color: $pink;
                            color: $white
                        }
                    }
                }
            }
        }
        .nav__tool {
            ul {
                @include flexCenter(row);
                li {
                    margin: 0 5px;
                    a {
                        padding: 10px;
                        @include flexCenter(row);
                        img {
                            //     width: 15px;
                        }
                    }
                }
            }
        }
    }
    
    #cosmetic {
        @include flexCenter(column);
        @include margin(150px, 120px);
        background-color: $white;
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 60px;
            .costemic__img {
                width: 95%;
                img {
                    width: 100%;
                }
            }
            .main__header {
                white-space: nowrap;
                margin-bottom: 30px;
            }
            .costemic__satisfaction {
                .medium__header {
                    position: relative;
                    margin: 40px 0;
                    @include line($pink, 70px);
                    .main__p {
                        color: $gray;
                        opacity: 0.8;
                    }
                }
            }
        }
    }
    
    #deal__time {
        position: relative;
        width: 100%;
        height: 600px;
        @include flexCenter(colomn);
        // &::before {
        //     content: '';
        //     position: absolute;
        //     top: 0;
        //     left: 0%;
        //     width: 100%;
        //     height: 100%;
        //     background: url(/img/dealDay.jpg) no-repeat;
        //     background-position: center center;
        //     background-size: cover;
        //     z-index: -1;
        // } height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        perspective: 10px;
        .deal__content {
            @include flexCenter(colomn);
            flex-direction: column;
            position: relative;
            height: 100%;
            width: 100%;
            transform-style: preserve-3d;
            z-index: -1;
            img {
                position: absolute;
                height: 100%;
                width: 100%;
                object-fit: cover;
                z-index: -1;
                transform: translateZ(-10px) scale(2);
            }
            .main__header {
                @include line($white, 150px);
                &::before {
                    content: '';
                    left: 50%;
                    bottom: -10px;
                    transform: translate(-50%, -50%)
                }
            }
            .btn {
                @include btn($white);
                @include transition(ease);
                margin-top: 40px;
                &:hover {
                    color: white;
                }
            }
        }
    }
    
    #review {
        @include flexCenter(row);
        // background: url(/img/bg-review.jpg) no-repeat center;
        position: relative;
        margin-top: 100px;
        .review__bg {
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
        }
        // background-size: cover;
        .swiper {
            width: 100%;
            height: 100%;
            .swiper-wrapper {
                transition-timing-function: ease;
                .swiper-slide {
                    @include flexCenter(row);
                    flex-direction: column;
                    padding: 100px;
                    text-align: center;
                    background-color: $white;
                    margin-top: 250px;
                    position: relative;
                    .slide__content {
                        .profile__pic {
                            width: 140px;
                            height: 140px;
                            object-fit: cover;
                            border-radius: 50%;
                            margin-bottom: 20px;
                            position: absolute;
                            top: -80px;
                            transform: translate(-50%, 0)
                        }
                        .review__star ul {
                            @include flexCenter(colomn);
                            padding: 10px 0 20px 0;
                            i {
                                transform: scale(0.9);
                                color: $pink;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #news {
        @include flexCenter(row);
        .container {
            @include flexCenter(row);
            flex-direction: column;
            .main__header {
                position: relative;
                @include line($pink, 150px);
                margin: 20px 0;
                &::before {
                    content: '';
                    bottom: -2%;
                    left: 50%;
                    transform: translate(-50%, 0);
                }
            }
            .news__box {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-auto-rows: 100px;
                grid-gap: 60px;
                margin: 50px 0;
                .news {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 20px;
                    .news__img {
                        grid-column: 1/2;
                        grid-row: 1/4;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .small__header {
                        grid-column-start: 2;
                        grid-column-end: 4;
                        font-weight: normal;
                        @include hover($pink);
                    }
                    .main__p {
                        grid-row: 2/3;
                        grid-column: 2/4;
                    }
                }
            }
        }
    }
    
    // Swiper Bullet
    .swiper-pagination-bullet {
        @include transition(ease);
    }
    
    .swiper-pagination-bullet-active {
        background-color: $gray !important;
        transform: translateY(1px) scale(1.2);
    }
    
    #header__swiper {
        .swiper {
            height: 820px;
            overflow: hidden;
            .swiper-wrapper {
                .header__img {
                    position: relative;
                    .header__content {
                        position: absolute;
                        top: 50%;
                        left: 30%;
                        transform: translate(-50%, -50%);
                        text-align: center;
                        img {
                            object-fit: cover;
                        }
                        h1 {
                            font-size: 90px;
                            line-height: 1.2;
                        }
                        .medium__header {
                            margin: 20px 0 40px 0;
                            color: $gray
                        }
                        .btn {
                            @include btn($pink);
                            color: white;
                        }
                    }
                }
            }
        }
    }
    
     :root {
        --swiper-navigation-size: 21px !important;
    }
    
    .swiper__buttons {
        position: absolute;
        bottom: 0px;
        right: 0;
        display: flex;
        width: 100px;
        height: 1px;
        z-index: 999;
        background: $white;
        padding: 30px 0;
        @include flexCenter(row);
        .swiper-button-next,
        .swiper-button-prev {
            color: $gray;
            width: 30px !important;
            height: 20px !important;
            @include transition(ease);
            &:hover {
                color: $pink;
            }
        }
        span {
            height: 25px;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
            left: 50%;
            width: 1px;
            background: $gray;
        }
    }
    
    footer {
        @include flexCenter(row);
        .container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 40px;
            .oriflame {
                img {
                    width: 130px;
                }
            }
            .main__p {
                font-family: 'El Messiri', sans-serif;
            }
        }
    }